body{
    background:linear-gradient(0deg,rgba(46,47,50,0.7),rgba(46,47,50,0.7)),url('/scoreboard/uploads/carbon_fibre.png') repeat !important;
}
.bg-gray-1{
	background:#2E2F32;
}
.bg-gray-2{
	background:#191C20;
}
.bg-gray-3{
	background:#24272A;
}
.bg-gray-4{
	background:#C2C2C2;
}
.text-gray-1{
	color:#2E2F32;
}
.text-gray-2{
	color:#191C20;
}
.text-gray-3{
	color:#24272A;
}
.text-gray-4{
	color:#C2C2C2;
}
.text-gray-5{
	color:rgba(255, 255, 255, 0.1);
}

.btn-outline-warning-2 {
color: #FFD14D;
border-color: #FFD14D;
}

.btn-outline-warning-2:hover {
color: #212529;
background-color: #FFD14D;
border-color: #FFD14D;
}

.btn-outline-warning-2:focus, .btn-outline-warning-2.focus {
box-shadow: 0 0 0 0.2rem rgba(255, 193, 7, 0.5);
}

.btn-outline-warning-2.disabled, .btn-outline-warning-2:disabled {
color: #FFD14D;
background-color: transparent;
}

.btn-outline-warning-2:not(:disabled):not(.disabled):active, .btn-outline-warning-2:not(:disabled):not(.disabled).active,
.show > .btn-outline-warning-2.dropdown-toggle {
color: #212529;
background-color: #FFD14D;
border-color: #FFD14D;
}

.btn-outline-warning-2:not(:disabled):not(.disabled):active:focus, .btn-outline-warning-2:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-warning-2.dropdown-toggle:focus {
box-shadow: 0 0 0 0.2rem rgba(255, 193, 7, 0.5);
}

.btn-link-gray-4 {
	font-weight: 400;
	color: #6C757D;
	text-decoration: none;
}

.btn-link-gray-4:hover {
	color: #C2C2C2;
	text-decoration: underline;
}

.btn-link-gray-4:focus, .btn-link-gray-4.focus {
	text-decoration: underline;
	box-shadow: none;
}

.btn-link-gray-4:disabled, .btn-link-gray-4.disabled {
	color: #6C757D;
	pointer-events: none;
}

.border-gray-2 {
	border-color: #191C20 !important;
}

.border-gray-3 {
	border-color: #24272A !important;
}

.border-gray-5 {
	border-color: rgba(255, 255, 255, 0.1) !important;
}

.form-scoreboard-logo{
	width:40px;
}

.form-scoreboard-logo img {
	width:36px;
}

.form-scoreboard-team,
.form-scoreboard-player{
	width:150px;
}

.score-field,
.form-scoreboard-setpoint
{
	width:50px;
}

.form-scoreboard-setscore,
.form-scoreboard-gamepoint,
.form-scoreboard-gamescore
{
	width:60px;
}

/* .form-scoreboard-desc{
	width:177px;
} */

.form-scoreboard-btn{
	max-width:95px;
}

.form-scoreboard table{
	font-weight:500;
	color: #C2C2C2;
	font-size:14px;
}

.form-scoreboard table th,
.form-scoreboard table td
{
	text-align:center;
	border-top:0;
	vertical-align:middle;
}

.form-scoreboard .table th{
	border-bottom: 0;
	color:#2B6986;
}

/* .form-scoreboard thead td.td-w {
	color:#ffffff;
} */

/* .form-scoreboard-desc {
	color:#2B6986 !important;
} */

/* .form-scoreboard .table td.td-w{
	width:150px ;
	text-align:left;
} */

/* .form-scoreboard tbody tr{
	border-top:2px solid #2B6986;
} */

.form-scoreboard tbody td{
	border:2px solid #2B6986;
}

.form-scoreboard tbody .form-scoreboard-team,
.form-scoreboard tbody .form-scoreboard-player
{
	background:#2B6986;
	color: #ffffff;
	padding-left:15px;
	font-weight:400;
	letter-spacing:1px;
	text-align:left;
}

/* .form-scoreboard-logo {
	width: 40px;
} */

/* .form-scoreboard-logo img{
	width:36px !important;
} */

.form-scoreboard tbody .form-scoreboard-team,
.form-scoreboard tbody .form-scoreboard-setscore
{
	border-right:2px solid #191C20;
}

.form-scoreboard input[type='text'] {
	background:none;
	text-align:center;
	border:none;
	color:#C2C2C2;
	font-size:1.1em;
	font-weight:500;
	padding:0;
	border-radius:0;
}

.form-scoreboard .form-control:focus {
	color: #ffffff;
	background-color: #24272A;
	outline: 0;
	box-shadow: 0 0 0 0 #2B6986;
}

/* .form-scoreboard .table td.score-field,
.form-scoreboard .table td.form-scoreboard-setpoint
{
	width:50px;
} */

/* .form-scoreboard .table td.form-scoreboard-setscore,
.form-scoreboard .table td.form-scoreboard-gamepoint,
.form-scoreboard .table td.form-scoreboard-gamescore
{
	width:60px;
} */

.form-scoreboard tbody td.form-scoreboard-setscore,
.form-scoreboard tbody td.form-scoreboard-gamepoint,
.form-scoreboard tbody td.form-scoreboard-gamescore
{
	background:#2B6986;
}

.form-scoreboard tbody td.form-scoreboard-setscore input,
.form-scoreboard tbody td.form-scoreboard-gamepoint input,
.form-scoreboard tbody td.form-scoreboard-gamescore input
{
	color:#ffffff;
}

.form-scoreboard tbody td.form-scoreboard-setscore .form-control:focus,
.form-scoreboard tbody td.form-scoreboard-gamepoint .form-control:focus,
.form-scoreboard tbody td.form-scoreboard-gamescore .form-control:focus
{
	background-color: #2B6986;
	outline: 0;
	box-shadow: 0 0 0 0 #2B6986;
}

.form-scoreboard tbody .form-scoreboard-submit-btn {
	line-height:24px;
}

#form-scoreboard-style .input-group-text,
.scoreboard-style-select,
#scoreboard-style-style-name{
	background: #191C20;
	border-radius: 0;
	border-color: #17A2B8;
	color: #C2C2C2;
}

#form-scoreboard-style .input-group-text{
	background: #17A2B8;
	color: #ffffff;
	width:90px;
	text-align:center;
}

.scoreboard-style-select:focus {
	color: #ffffff;
	background-color: #24272A;
	outline: 0;
	box-shadow: 0 0 0 0.2rem #17A2B8;
	border-color: #17A2B8;
}
#scoreboard-style-style-name{
	background: #ffffff;
	color: #191C20;
}
#scoreboard-style-style-name:focus {
	color: #24272A;
	outline: 0;
	box-shadow: 0 0 0 0rem #17A2B8;
	border-color: #17A2B8;
}
#scoreboard-style-style-name:disabled{
	background: #191C20;
	color: #C2C2C2;
}

.scoreboard-style-select:disabled {
	background: #191C20;
	color: #C2C2C2;
}

.modal-form .form-control:disabled,.modal-form .form-control[readonly] {
	background-color: #191C20 !important;
	opacity: 1;
}

.modal-form .form-control {
	color: #C2C2C2;
	background-color: #24272A;
	border-color: #24272A;
}

.modal-form .form-control:focus {
	color: #C2C2C2;
	background-color: #191C20;
	outline: 0;
	box-shadow: 0 0 0 0.2rem #17A2B8;
	border-color:#191C20 !important;
}

.modal-close-btn:hover{
	color:#C2C2C2;
	box-shadow:0 !important;
	outline:0 !important;
}

.btn-menu{
	border-radius: 0;
}
.btn-menu:hover, .btn-menu:focus, .btn-menu:active{
	background:none;
	outline: none !important;
	text-decoration:none !important;
}
.card-block .card-body{
	background:none;
	border:none;
	padding:0;
}
.show-row{
	display:block;
}
.hide-row{
	display:none;
}
.show{
	display:block;
}
.hide{
	display:none;
}

#scoreboard-style-preview table td{
	text-align:center;
	width:65px;
	height:1px;
	padding:2px;
}

#scoreboard-style-preview table thead tr td{
	padding:0;
}

#scoreboard-style-preview table .td-w{
	width:300px;
}

#scoreboard-style-preview td.scoreboard-style-preview-timer{
	width:96px;
}

#scoreboard-style-preview div{
	background:#2B6986;
	padding-top:0px;
	height:100%;
}

#scoreboard-style-preview td.scoreboard-style-preview-logo div{
	padding:0 !important;
	margin:0 !important;
	width:36px;
	background:none;
}

#scoreboard-style-preview tbody span,
#scoreboard-style-preview thead span{
	display:block;
	height:100%;
	padding:10px;
	color: #ffffff;
	font-weight: 500;
	font-size: 14px;
}

.scoreboard-style-preview-team div, .scoreboard-style-preview-player div {
	text-align:left;
	padding-left:15px;
	letter-spacing:1px;
}

#scoreboard-style-preview table thead td:nth-child(2),
#scoreboard-style-preview table thead td:nth-child(3) {
	text-align:left;
	padding-left:20px;
}

.scoreboard-style-preview-timer div{
	font-family: "Roboto Italic", sans-serif;
}

.scoreboard-style-preview-setscore div{
	background: #006C9C !important;
}

.scoreboard-style-preview-desc div{
	background:#278F7A !important;
	letter-spacing:1px;
}

#footer-section p{
	margin:0;
}

::-webkit-scrollbar {
	width: 20px;
}
::-webkit-scrollbar-track {
	background: #24272A;
}

::-webkit-scrollbar-thumb {
	background: #191C20;
}

div.customscroll::-webkit-scrollbar {
	width: 10px;
}
div.customscroll::-webkit-scrollbar-track {
	background: #343A40;
	border-right:1px solid #191C20;
}

div.customscroll::-webkit-scrollbar-thumb {
	background: #111111;
}

.hide{
	display:none !important;
}