@font-face{
    font-family: "Roboto Bold";
    src: url('../fonts/Roboto-Bold.ttf') format("truetype");
}
@font-face{
    font-family: "Roboto Italic";
    src: url('../fonts/Roboto-Italic.ttf') format("truetype");
}

body{
    background:transparent;
    width:1920px;
    height:1080px;
}

#wrapper{
    font-family: "Roboto Bold" , sans-serif;
    font-size: 1.2em;
    color:#ffffff;
    background:transparent;
    width:1920px;
    height:1080px;
}

#live-scoreboard{
    padding-left:150px;
    padding-top:870px;
}

#live-scoreboard table td{
    text-align:center;
    width:65px;
    height:1px;
    padding:2px;
}

#live-scoreboard table thead tr td{
    padding:0;
}

#live-scoreboard table .td-w{
    width:300px;
}

#live-scoreboard .live-scoreboard-timer{
    width:96px;
}

#live-scoreboard div{
    background:#2B6986;
    padding-top:0px;
    height:100%;
}

#live-scoreboard .live-scoreboard-logo div{
    padding:0 !important;
    margin:0 !important;
    width:58px;
    background:none;
}

#live-scoreboard tbody span{
    display:block;
    height:100%;
    padding:10px;
}

.live-scoreboard-team div, .live-scoreboard-player div{
    text-align:left;
    padding-left:15px;
    letter-spacing:1px;
}

#live-scoreboard table thead td:nth-child(2), #live-scoreboard table thead td:nth-child(3) {
    text-align:left;
    padding-left:20px;
}

#live-scoreboard img {
    max-width: 48px;
}

.live-scoreboard-timer div{
    font-family: "Roboto Italic", sans-serif;
}

.live-scoreboard-setscore div{
    background: #006C9C !important;
}

.live-scoreboard-desc div{
    background:#278F7A !important;
	letter-spacing:1px;
}

.time-warning{
    background:#EC5F0E !important;
}

/* #live-scoreboard table td{
    text-align:center;
    width:65px;
    height:1px;
    padding:2px;
}

#live-scoreboard table thead tr td{
	padding:0;
}

#live-scoreboard table .td-w{
	width:300px;
}

#live-scoreboard td.live-scoreboard-timer{
	width:96px;
}

#live-scoreboard div{
	background:#2B6986;
	padding-top:0px;
	height:100%;
}

#live-scoreboard td.live-scoreboard-logo div{
	padding:0 !important;
	margin:0 !important;
	width:36px;
	background:none;
}

#live-scoreboard tbody span, #live-scoreboard thead span{
	display:block;
	height:100%;
	padding:10px;
	color: #ffffff;
	font-weight: 600;
	font-size: .7em;
}

.live-scoreboard-team div, .live-scoreboard-player div {
	text-align:left;
	padding-left:15px;
	letter-spacing:1px;
}

#live-scoreboard table thead td:nth-child(2), #live-scoreboard table thead td:nth-child(3) {
	text-align:left;
	padding-left:20px;
}

.live-scoreboard-timer div{
	font-family: "Roboto Italic", sans-serif;
}

.live-scoreboard-setscore div{
	background: #006C9C !important;
}

.live-scoreboard-desc div{
	background:#278F7A !important;
	letter-spacing:1px;
} */

.hide{
	display:none;
}